body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.calculator {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.output {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
}
